@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --tausta: #00ffff;
    --teksti: #00000;
}

* {
    box-sizing: border-box;
}

.v-keski{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.h-oikea{
    position: absolute;
    right: 0;
}

.a-vaatimukset{
    padding: 0;
}

.a-vaatimukset > li{
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Arial;
    background-color: var(--tausta);
    color: var(--teksti);
}

header {
    position: relative;
    background-color: #0000ff;
    padding: 15px;
    height: 70px;
    border-bottom: #00ff00 solid 2px;
}

header nav{
    float: right;
}

header nav a {
    display: inline-block;
    font-size: 1.1em;
    color: #00ff00;
    text-decoration: none;
    padding: 0.2em;
}

header nav a:hover{
    color: var(--teksti);
    background-color: var(--tausta);
}

main {
    font-size: 1.1em;
    line-height: 1.3em;
}

section {
    max-width: 1100px;
    width: 65%;
    margin: 40px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #333;
    padding: 10px;
    vertical-align: top;
}
th {
    background-color: #f2f2f2;
}
td ul {
    margin: 0;
    padding-left: 20px;
}

@media only screen and (max-width: 800px){
    header,
    header > nav,
    header > nav > a {
        display: block;
        float: none;
        height: auto;
        width: 100%;
        text-align: center;
        clear: both;
    }

    section{
                display: block;
        float: none;
        height: auto;
        width: 100%;
        text-align: left;
        clear: both;
        padding: 0 2px;
    }

    .v-keski, .h-oikea{
        display: block;
        position: relative;
        transform: none;
    }

    table {
    width: 100%;
    border-collapse: collapse;
    word-break: break-word;
    table-layout: fixed;
    }

    td, th {
    word-wrap: break-word;
    }

    h1, h2{
        text-align: center;
    }
}
